<% if @student.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger fade in" id="msgalert">
            The form contains
            <%= pluralize(@student.errors.count, "error") %>.
        </div>
        <ul>
            <% @student.errors.messages.values.each do |msg| %>
                 <%msg.each do  |m| %>
                   <h5> <li><%= m %></li> </h5>
                <%end %>
            <% end %>
        </ul>
    </div>
    <% end %>